<div class="container text-white informacion" >
  <div class="row">
    <div class="col-lg-3 col-xl-4"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-8 col-xxl-8 mt-5">
      <div class="contenedor__secciones">
        <!--Comienza Seccion Sobre Mi-->
        <app-sobre-mi></app-sobre-mi>
        <div class="separador-articulo"></div>
        <!--Comienza Seccion Herramientas-->
        <app-herramientas></app-herramientas>
        <div class="separador-articulo"></div>
        <!--Comienza Seccion Proyecyos-->
        <app-proyectos></app-proyectos>
        <div class="separador-articulo"></div>
        <!--Comienza Seccion Contacto-->
        <app-form-contact></app-form-contact>
      </div>
    </div>
  </div>
</div>
