<div class="contenedor__seccion_contacto mt-5">
  <div class="contenedor__seccion_contacto-header text-center">
    <h2 id="seccion4">Formulario de Contacto</h2>
    <div class="linea-decoracion"></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
      eligendi quo dolorem veritatis soluta magnam! Aliquam sit nesciunt nostrum
      culpa dolorem accusantium quos,
    </p>
  </div>
  <div class="contenedor__seccion_contacto-body mb-5">
    <form method="post" class="mt-5">
      <input type="text" name="nombre" placeholder="Nombre.." />
      <input type="email" name="email" placeholder="Email.." />
      <input type="text" name="asunto" placeholder="Asunto.." class="mt-3" />
      <textarea
        name="informacion"
        id=""
        cols="30"
        rows="10"
        placeholder="Escribe..."
        class="mt-3"
      ></textarea>
      <div class="boton d-flex justify-content-center mt-3">
        <button type="submit" class="btn-mas d-flex text-center px-5" (click)="enviarForm()">Enviar</button>
      </div>
    </form>
    <p class="text-center mt-3" *ngIf="mostrarMsj"> Actualmente no esta habilitado el enviar formulario pero si te gusta lo que hago podes contactarme escribiendome en cualquiera de mis redes</p>
  </div>
</div>
