<div class="contenedor__seccion_herramientas mt-5">
  <div class="contenedor__seccion_herramientas-header text-center">
    <h2 id="seccion2">Herramientas Que Uso</h2>
    <div class="linea-decoracion"></div>
    <p>
     A continuacion describo brevemente mis conocimientos en las herramientas para desarrollar paginas web
    </p>
  </div>
  <div class="contenedor__seccion_herramientas-body mt-5 mb-5">
    <div class="row gx-5 estilazo">
      <div class="col mb-3">
        <div class="p-3 fondo">
          <h2 class="d-flex justify-content-around">
            <i class="fab fa-html5 html"></i>
            <i class="fab fa-css3-alt css"></i> <i class="fab fa-js js"></i>
          </h2>
          <h5 class="mt-3">Intermedio</h5>
          <p class="mt-2">
            conocimientos afianzados en HTML semantico y sus buenas practicas para posicionar en el SEO.
            CSS grid-flex, Box-model, colores HEX y especificidad.
            JS POO, DOM, eventos, Apis, AJAX.  

          </p>
        </div>
      </div>
      <div class="col">
        <div class="p-3 fondo">
          <h2 class="d-flex justify-content-around">
            <i class="fab fa-sass sass"></i> <i></i>
            <i class="fab fa-bootstrap bootstrap"></i>
          </h2>
          <h5 class="mt-3">Principiante</h5>
          <p class="mt-2">
            Amplios conocimientos en BOOTSTRAP para crear un sitio web 100% responsive. Actualmente me estoy adentrando a personalizar BOOTSTRAP con SASS pero recien estoy iniciando
          </p>
        </div>
      </div>
    </div>

    <div class="row gx-5 estilazo mt-5">
      <div class="col mb-3">
        <div class="p-3 fondo">
          <h2><i class="fab fa-angular angular"></i></h2>
          <h5 class="mt-3">Principiante</h5>
          <p class="mt-2">
            Conocimientos en componentes, propiedades, directivas, servicios, interfaz, modelos, routing.
            Acompañado de TypeScript
          </p>
        </div>
      </div>
      <div class="col">
        <div class="p-3 fondo">
          <h2 class=""><i class="fas fa-database bbdd"></i></h2>
          <h5 class="mt-3">Principiante</h5>
          <p class="mt-2">
            Actualmente trabajo con FireBase como BBDD. Conocimientos en CRUD, login, guardianes y subir pagina a produccion.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
