<div class="contenedor__secciones-sobremi-header text-center">
  <h2 id="seccion1">Sobre Mi</h2>
  <div class="linea-decoracion"></div>
  <p>
    Me llamo Facundo Arias tengo 21 años, soy de Tandil actualmente vivo en Carlos Paz y soy estudiante autodidacta me especializo en el desarrollo de paginas web.
   
  </p>
</div>
<div class="contenedor__secciones-sobremi-body">
  <article class="mb-5">
    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-6">
        <!--Aca iria una imagen-->
        <div class="img-card1 w-100"></div>
        <!--Aca iria una imagen-->
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="h-100 d-flex flex-column justify-content-center">
          <h4 class="my-3">Descripcion</h4>
          <p>
            Me caracterizo por ser compañero, humilde y muy respetuoso. Tengo actitud, responsabilidad y compromiso acompañado de un buen manejo de los tiempos.
            Capacidad para trabajar en forma cooperativa y constructiva.
            Me adapto facilmente a las situaciones
          </p>
          <button class="btn-mas">LEER MÁS</button>
        </div>
      </div>
    </div>
  </article>
  <div class="separador-articulo"></div>
  <article class="mb-5 mt-5">
    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="h-100 d-flex flex-column justify-content-center">
          <h4 class="mb-3">Que busco</h4>
          <p>
            Incorporarme en el mundo del desarrollo web. No tengo experiencia en proyectos reales pero tengo muchas ganas de formar parte de un grupo de trabajo y seguir aprendiendo.
            
          </p>
          <button class="btn-mas mb-5">LEER MÁS</button>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <!--Aca iria una imagen-->
        <div class="img-card2 w-100"></div>
        <!--Aca iria una imagen-->
      </div>
    </div>
  </article>

 
</div>
